# SPDX-License-Identifier: MIT

[Unit]
Description=RAUC client
After=rauc-mark-good.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rauc-client
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
