/.cache/
/autom4te.cache/
/build-aux/*
/build/
!/build-aux/git-version-gen
/data/de.pengutronix.rauc.service
/data/rauc-service.sh
/data/rauc.service
/test/*.dat
/test/*.test
/test/*.map
/test/*.rauc*
!/test/good-*.rauc*
/test/fakerand
/test/services/de.pengutronix.rauc.service
/test/test-results
/*-generated.[ch]
/.qemu_bash_history
/qemu-test-ok
Makefile
Makefile.in
aclocal.m4
app.info
config.h
config.h.in
config.status
configure
libtool
/bzImage
/rauc
/rauc.map
/rauc-1.*
stamp-h1
.ccls-cache
.deps
.dirstamp
.gdb_history
.uncrustify/
.version
*-coverage/
*-coverage.info
*~
*.a
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.pyc
*.so*
*.tar*
*.trs
*.xz
*.zip
!/test/payload-*.tar
