/.cache/
/build/
/.qemu_bash_history
/.qemu_gdb_history
/qemu-test-ok
/qemu-test-emmc.img
app.info
/bzImage
.ccls-cache
.gdb_history
.uncrustify/
.version
*~
*.a
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.pyc
*.so*
*.tar*
*.trs
*.xz
*.zip
