/autom4te.cache/
/build-aux/*
!/build-aux/git-version-gen
/*-generated.[ch]
Makefile
Makefile.in
aclocal.m4
app.info
config.h
config.h.in
config.status
configure
libtool
rauc-cgi
stamp-h1
.deps
.dirstamp
*~
*.a
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.so*
*.tar*
*.trs
*.xz
*.zip
